Repository Team-Wable/WABLE-ANDROID, pull requests merged in 2024-11, with the labels that each got.

#104 [Hotfix/#103] in app error, like.. etc
  core/common/src/main/java/com/teamwable/common/util/AmplitudeTag.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/ContextExt.kt
  core/ui/src/main/java/com/teamwable/ui/util/SingleEventHandler.kt
  feature/main/src/main/java/com/teamwable/main/AppUpdateHandler.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/main/src/main/res/values/strings.xml
  feature/profile/src/main/java/com/teamwable/profile/profile/BindingProfileFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileAuthFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileMemberFragment.kt
Labels: 🔨 [FIX], 🐱 소현

#109 Feature/#107 fix posting UI
  feature/posting/src/main/res/layout/fragment_posting.xml
  feature/posting/src/main/res/values/strings.xml
Labels: 🔨 [FIX], 💟 [UI], 🐰 언지

#114 [Feature/#113] news탭 compose setting
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/composable/ImageExt.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/theme/Theme.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainComposeActivity.kt
  feature/news/build.gradle.kts
  feature/news/src/main/java/com/teamwable/news/model/NewsInfoModel.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsRoute.kt
  feature/news/src/main/res/layout/fragment_news_news.xml
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/FirstLckWatchScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/component/WableExposedDropdownBox.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/SelectLckTeamScreen.kt
Labels: ⭐ [FEAT], 🐻 찬우, COMPOSE

#118 [Feature/#115] news news UI + api연결(페이징)
  core/common/src/main/res/drawable/ic_news_top_banner.xml
  core/data/src/main/java/com/teamwable/data/mapper/toModel/ResponseNewsDtoMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/NewsRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultNewsRepository.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/paging/WablePagingSpinner.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/screen/LoadingScreen.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/screen/NewsNoticeEmptyScreen.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/modifier/ModifierExt.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/ContentType.kt
  core/model/src/main/java/com/teamwable/model/news/NewsInfoModel.kt
  core/network/src/main/java/com/teamwable/network/datasource/NewsService.kt
  core/network/src/main/java/com/teamwable/network/dto/response/news/ResponseNewsInfoDto.kt
  core/ui/src/main/java/com/teamwable/ui/util/FeedTransformer.kt
  feature/news/build.gradle.kts
  feature/news/src/main/java/com/teamwable/news/NewsDetailFragment.kt
  feature/news/src/main/java/com/teamwable/news/NewsViewModel.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsRoute.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsViewModel.kt
  feature/news/src/main/java/com/teamwable/news/news/component/NewsComponent.kt
  feature/news/src/main/java/com/teamwable/news/news/component/NewsTextComponent.kt
  feature/news/src/main/java/com/teamwable/news/news/model/NewsInfoSideEffect.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeFragment.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeItem.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeRoute.kt
  feature/news/src/main/res/navigation/graph_news.xml
  feature/news/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐻 찬우, COMPOSE

#120 Feature/#117 news notice api paging
  core/data/src/main/java/com/teamwable/data/mapper/toModel/ResponseNewsDtoMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/NewsRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultNewsRepository.kt
  core/network/src/main/java/com/teamwable/network/datasource/NewsService.kt
  core/network/src/main/java/com/teamwable/network/dto/response/news/ResponseNoticeInfoDto.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/FragmentExt.kt
  feature/news/src/main/java/com/teamwable/news/NewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/NewsViewModel.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeFragment.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeItem.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeRoute.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeViewModel.kt
Labels: ⭐ [FEAT], 🐰 언지, ☕ [COMPOSE]

#124 Feature/#121 news number api
  core/data/src/main/java/com/teamwable/data/repository/NewsRepository.kt
  core/data/src/main/java/com/teamwable/data/repository/UserInfoRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultNewsRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultUserInfoRepository.kt
  core/datastore/src/main/java/com/teamwable/datastore/datasource/DefaultWablePreferenceDatasource.kt
  core/datastore/src/main/java/com/teamwable/datastore/datasource/WablePreferencesDataSource.kt
  core/network/src/main/java/com/teamwable/network/datasource/NewsService.kt
  core/network/src/main/java/com/teamwable/network/datasource/NotificationService.kt
  core/network/src/main/java/com/teamwable/network/dto/response/main/ResponseNewsNumberDto.kt
  core/network/src/main/java/com/teamwable/network/dto/response/notification/ResponseNotificationNumberDto.kt
  feature/news/src/main/java/com/teamwable/news/NewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/NewsTabType.kt
  feature/news/src/main/java/com/teamwable/news/NewsViewModel.kt
  feature/news/src/main/java/com/teamwable/news/NewsViewPagerAdapter.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeItem.kt
Labels: ⭐ [FEAT], 🐰 언지, ☕ [COMPOSE]

#125 [Feature/#119] news detail
  core/common/src/main/res/values/dimens.xml
  core/designsystem/src/main/java/com/teamwable/designsystem/component/topbar/WableTopBar.kt
  core/network/src/main/java/com/teamwable/network/dto/response/news/ResponseNewsInfoDto.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/ContextExt.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/news/src/main/java/com/teamwable/news/NewsDetailFragment.kt
  feature/news/src/main/java/com/teamwable/news/NewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/NewsTabType.kt
  feature/news/src/main/java/com/teamwable/news/detail/NewsDetailFragment.kt
  feature/news/src/main/java/com/teamwable/news/detail/NewsDetailScreen.kt
  feature/news/src/main/java/com/teamwable/news/detail/component/NewsImage.kt
  feature/news/src/main/java/com/teamwable/news/detail/component/NoticeDetailButton.kt
  feature/news/src/main/java/com/teamwable/news/news/NewsNewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/news/component/NewsComponent.kt
  feature/news/src/main/java/com/teamwable/news/news/component/NewsTextComponent.kt
  feature/news/src/main/java/com/teamwable/news/notice/NewsNoticeFragment.kt
  feature/news/src/main/res/layout/fragment_news_detail.xml
  feature/news/src/main/res/navigation/graph_news.xml
  feature/news/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐻 찬우, ☕ [COMPOSE]

#126 [Feature/#123] : select by version, force update
  core/ui/src/main/java/com/teamwable/ui/extensions/ContextExt.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedClickListener.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedViewHolder.kt
  core/ui/src/main/res/layout/item_comment.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/com/teamwable/main/AppUpdateHandler.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
Labels: ⭐ [FEAT], 🔨 [FIX], 🐱 소현

#129 Feature/#128 qa fix
  feature/news/src/main/java/com/teamwable/news/NewsFragment.kt
  feature/news/src/main/java/com/teamwable/news/detail/NewsDetailScreen.kt
  feature/news/src/main/java/com/teamwable/news/detail/component/NewsImage.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionType.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionViewHolder.kt
  feature/notification/src/main/res/values/strings.xml
  feature/posting/src/main/res/layout/fragment_posting.xml
Labels: ⭐ [FEAT], 🔨 [FIX], 💟 [UI], 🚑️ [HOTFIX], 🐰 언지

#131 [Fix/#130] : 1차 스프린트 2차 QA 반영
  core/ui/src/main/java/com/teamwable/ui/type/DialogType.kt
  core/ui/src/main/java/com/teamwable/ui/util/CommentActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/java/com/teamwable/ui/util/SingleEventHandler.kt
  core/ui/src/main/res/values/strings.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
Labels: 🔨 [FIX], 🐱 소현

#133 [Feature/#132] : add new amplitude tag
  core/common/src/main/java/com/teamwable/common/util/AmplitudeTag.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
Labels: ⭐ [FEAT], 🐱 소현
