Repository Team-Wable/WABLE-ANDROID, pull requests merged in 2024-10, with the labels that each got.

#92 [Feature/#91] Pass Custom NavTypes in Compose Type-Safe Navigation
  app/src/main/java/com/teamwable/wable/WableApp.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/bundle/getSafeParcelable.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/MemberInfoType.kt
  core/model/build.gradle.kts
  core/model/src/main/java/com/teamwable/model/profile/MemberInfoEditModel.kt
  core/navigation/build.gradle.kts
  core/navigation/src/main/java/com/teamwable/navigation/ParcelableNavType.kt
  core/navigation/src/main/java/com/teamwable/navigation/Route.kt
  feature/auth/src/main/java/com/teamwable/auth/LoginViewModel.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainNavigator.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/naviagation/AgreeTermsNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/FirstLckWatchScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/naviagation/FirstLckWatchNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/naviagation/ProfileNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/SelectLckTeamScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/naviagation/SelectLckTeamNavigation.kt
  gradle/libs.versions.toml
Labels: 🐻 찬우, COMPOSE

#98 [Hotfix/#94] : team tag color
  app/src/main/AndroidManifest.xml
  core/common/src/main/res/raw/tab_lottie.json
  core/ui/src/main/res/values/colors.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/res/layout/fragment_home.xml
  feature/news/src/main/java/com/teamwable/news/rank/NewsRankFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/BindingProfileFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileMemberFragment.kt
Labels: 🐱 소현, 🚑️ [HOTFIX]

#97 [Feature/#93] compose loading snackbar
  core/common/src/main/res/values/strings.xml
  core/designsystem/src/main/java/com/teamwable/designsystem/component/indicator/WableCircularIndicator.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/snackbar/WableSnackBar.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/snackbar/WableSnackBarPopUp.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/modifier/ModifierExt.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/theme/Color.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/SnackBarType.kt
  core/designsystem/src/main/res/values/dimens.xml
  core/designsystem/src/main/res/values/strings.xml
  core/network/src/main/java/com/teamwable/network/TokenInterceptor.kt
  core/ui/src/main/java/com/teamwable/ui/util/GetErrorMessage.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainScreen.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/extensions/GetErrorMessage.kt
  feature/main-compose/src/main/res/values/strings.xml
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/model/AgreeTermState.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/edit/ProfileEditFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/edit/ProfileEditRoute.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/edit/ProfileEditViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/edit/model/ProfilePatchState.kt
Labels: 🐻 찬우, COMPOSE

#100 #99 [hotfix] : 중복되는 네이밍 에러 수정
  core/common/build.gradle.kts
  core/common/src/main/java/com/teamwable/common/util/GetThrowableMessage.kt
  core/ui/src/main/java/com/teamwable/ui/util/GetErrorMessage.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainNavigator.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainScreen.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/extensions/GetErrorMessage.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/edit/ProfileEditRoute.kt
Labels: 🚑️ [HOTFIX], 🐻 찬우

#102 #101 [hotfix] : 스플래시 무한 로딩 오류 fix
  feature/main-compose/src/main/java/com/teamwable/main_compose/splash/SplashScreen.kt
Labels: 🚑️ [HOTFIX], 🐻 찬우, COMPOSE
