Repository Team-Wable/WABLE-ANDROID, pull requests merged in 2024-09, with the labels that each got.

#57 [Feature/#48] : profile account api
  core/data/src/main/java/com/teamwable/data/mapper/toModel/ResponseProfileDtoMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/ProfileRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultProfileRepository.kt
  core/model/src/main/java/com/teamwable/model/profile/MemberDataModel.kt
  core/network/src/main/java/com/teamwable/network/datasource/ProfileService.kt
  core/network/src/main/java/com/teamwable/network/dto/request/RequestWithdrawalDto.kt
  core/network/src/main/java/com/teamwable/network/dto/response/profile/ResponseMemberDataDto.kt
  feature/profile/src/main/java/com/teamwable/profile/ProfileViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileDeleteConfirmFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileDeleteReasonFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileHamburgerBottomSheet.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileHamburgerViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileInformationFragment.kt
  feature/profile/src/main/res/layout/fragment_profile_delete_reason.xml
  feature/profile/src/main/res/navigation/graph_profile.xml
Labels: ⭐ [FEAT], 🐰 언지

#61 [Feature/#60] : posting api
  core/data/build.gradle.kts
  core/data/src/main/java/com/teamwable/data/di/RepositoryModule.kt
  core/data/src/main/java/com/teamwable/data/repository/PostingRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultPostingRepository.kt
  core/network/src/main/java/com/teamwable/network/datasource/PostingService.kt
  core/network/src/main/java/com/teamwable/network/di/ServiceModule.kt
  feature/posting/src/main/java/com/teamwable/posting/PostingFragment.kt
  feature/posting/src/main/java/com/teamwable/posting/PostingViewModel.kt
  feature/posting/src/main/res/layout/fragment_posting.xml
  feature/profile/src/main/res/layout/fragment_profile_delete_confirm.xml
  feature/profile/src/main/res/layout/fragment_profile_delete_reason.xml
Labels: ⭐ [FEAT], 🐰 언지

#62 [Feature/#43] onboarding ui
  core/common/src/main/res/drawable/ic_sign_up_drop_up_btn.xml
  core/designsystem/src/main/java/com/teamwable/designsystem/component/Dummy.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableSmallButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/card/WableCustomCardWithStroke.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/checkbox/WableCheckBox.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/checkbox/WableCheckBoxWithText.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/dialog/PermissionAppSettingsDialog.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/dialog/WableButtonDialog.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/textfield/WableTextField.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/topbar/WableTopBar.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/bundle/getSafeParcelable.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/system/navigateToAppSettings.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/theme/Type.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/LckTeamType.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/MemberInfoType.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/NicknameType.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/ProfileImageType.kt
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/java/com/teamwable/model/network/Error.kt
  core/navigation/src/main/java/com/teamwable/navigation/Route.kt
  core/network/src/main/java/com/teamwable/network/util/getErrorMessage.kt
  feature/auth/src/main/java/com/teamwable/auth/LoginScreen.kt
  feature/auth/src/main/java/com/teamwable/auth/LoginViewModel.kt
  feature/auth/src/main/java/com/teamwable/auth/model/LoginSideEffect.kt
  feature/auth/src/main/java/com/teamwable/auth/naviagation/AuthNavigation.kt
  feature/main-compose/build.gradle.kts
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainNavigator.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainScreen.kt
  feature/onboarding/.gitignore
  feature/onboarding/build.gradle.kts
  feature/onboarding/src/main/AndroidManifest.xml
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/model/AgreeTerm.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/model/AgreeTermsSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/naviagation/AgreeTermsNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/FirstLckWatchScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/FirstLckWatchViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/component/LckYearDropdownItem.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/component/WableExposedDropdownBox.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/model/FirstLckWatchSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/naviagation/FirstLckWatchNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/component/ProfileImagePicker.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/model/ProfileSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/model/ProfileState.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/naviagation/ProfileNavigation.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/permission/launchImagePicker.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/permission/rememberGalleryLauncher.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/regex/NicknameValidationUseCase.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/SelectLckTeamScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/SelectLckTeamViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/component/LckTeamItem.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/model/SelectLckTeamSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/naviagation/SelectLckTeamNavigation.kt
  feature/onboarding/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ⭐ [FEAT], 🐻 찬우, COMPOSE

#69 [Feature/#65] onboarding api
  core/data/src/main/java/com/teamwable/data/repository/ProfileRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultProfileRepository.kt
  core/model/src/main/java/com/teamwable/model/profile/MemberInfoEditModel.kt
  core/network/src/main/java/com/teamwable/network/TokenInterceptor.kt
  core/network/src/main/java/com/teamwable/network/datasource/ProfileService.kt
  core/network/src/main/java/com/teamwable/network/util/ContentUriRequestBody.kt
  core/network/src/main/java/com/teamwable/network/util/getErrorMessage.kt
  feature/auth/src/main/java/com/teamwable/auth/LoginViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/model/AgreeTermsSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileViewModel.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/model/ProfileSideEffect.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/regex/NicknameValidationUseCase.kt
  feature/onboarding/src/main/res/values/strings.xml
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileHamburgerViewModel.kt
Labels: ⭐ [FEAT], 🐻 찬우

#67 [Feature/#59] : report api, loading & error view, etc..
  core/data/src/main/java/com/teamwable/data/mapper/toData/ReportModelMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/ProfileRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultProfileRepository.kt
  core/model/src/main/java/com/teamwable/model/Comment.kt
  core/model/src/main/java/com/teamwable/model/Feed.kt
  core/network/src/main/java/com/teamwable/network/datasource/ProfileService.kt
  core/network/src/main/java/com/teamwable/network/dto/request/RequestReportDto.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/CommentClickListener.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/CommentViewHolder.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedClickListener.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedViewHolder.kt
  core/ui/src/main/java/com/teamwable/ui/util/CommentActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/java/com/teamwable/ui/util/FeedActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/Navigation.kt
  core/ui/src/main/res/layout/item_comment.xml
  core/ui/src/main/res/layout/item_feed.xml
  core/ui/src/main/res/navigation/graph_ui.xml
  feature/home/src/main/java/com/teamwable/LoadingFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeViewModel.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailViewModel.kt
  feature/home/src/main/res/anim/anim_loading_fade_out.xml
  feature/home/src/main/res/drawable/gradient_loading_bg.xml
  feature/home/src/main/res/layout/fragment_home_detail.xml
  feature/home/src/main/res/layout/fragment_loading.xml
  feature/home/src/main/res/navigation/graph_home.xml
  feature/home/src/main/res/values/strings.xml
  feature/main/src/main/java/com/teamwable/main/ErrorFragment.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/main/src/main/res/layout/fragment_error.xml
  feature/main/src/main/res/navigation/graph_main.xml
  feature/main/src/main/res/values/strings.xml
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/information/NotificationInformationFragment.kt
  feature/posting/src/main/java/com/teamwable/posting/PostingFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileDeleteConfirmFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileAuthFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileMemberFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListViewModel.kt
Labels: ⭐ [FEAT], 🐱 소현

#70 [Feature/#66] splash 로띠
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultPostingRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultProfileRepository.kt
  core/network/build.gradle.kts
  core/network/src/main/java/com/teamwable/network/TokenInterceptor.kt
  core/network/src/main/java/com/teamwable/network/util/createImagePart.kt
  core/ui/src/main/res/values/themes.xml
  feature/auth/src/main/java/com/teamwable/auth/LoginScreen.kt
  feature/auth/src/main/java/com/teamwable/auth/LoginViewModel.kt
  feature/main-compose/build.gradle.kts
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainNavigator.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/MainScreen.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/splash/SplashScreen.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/splash/SplashViewModel.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/splash/model/SplashSideEffect.kt
  feature/main-compose/src/main/java/com/teamwable/main_compose/splash/navigation/SplashNavigation.kt
  feature/main-compose/src/main/res/raw/wable_splash.json
  gradle/libs.versions.toml
Labels: 🐻 찬우, COMPOSE

#72 [Feature/#68] : fcm, like api
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/teamwable/wable/service/WableFirebaseMessagingService.kt
  core/common/src/main/ic_launcher-playstore.png
  core/common/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  core/common/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  core/common/src/main/res/mipmap-hdpi/ic_launcher.webp
  core/common/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  core/common/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  core/common/src/main/res/mipmap-mdpi/ic_launcher.webp
  core/common/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  core/common/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  core/common/src/main/res/mipmap-xhdpi/ic_launcher.webp
  core/common/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  core/common/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  core/common/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  core/common/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  core/common/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  core/common/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  core/common/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  core/common/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  core/common/src/main/res/values/ic_launcher_background.xml
  core/data/src/main/java/com/teamwable/data/mapper/toData/PostLikeModelMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/CommentRepository.kt
  core/data/src/main/java/com/teamwable/data/repository/FeedRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultCommentRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultFeedRepository.kt
  core/model/src/main/java/com/teamwable/model/LikeState.kt
  core/network/src/main/java/com/teamwable/network/datasource/CommentService.kt
  core/network/src/main/java/com/teamwable/network/datasource/FeedService.kt
  core/network/src/main/java/com/teamwable/network/datasource/ProfileService.kt
  core/network/src/main/java/com/teamwable/network/dto/request/RequestPostCommentLikeDto.kt
  core/network/src/main/java/com/teamwable/network/dto/request/RequestPostFeedLikeDto.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/CommentClickListener.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/CommentViewHolder.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedClickListener.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/FeedViewHolder.kt
  core/ui/src/main/java/com/teamwable/ui/util/CommentActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/java/com/teamwable/ui/util/FeedActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/SingleEventHandler.kt
  core/ui/src/main/res/drawable/recyclerview_item_8_divider.xml
  feature/home/build.gradle.kts
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeViewModel.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailRecyclerViewDivider.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListViewModel.kt
Labels: ⭐ [FEAT], 🐱 소현

#76 Feature/#75 : 2nd qa
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionViewHolder.kt
  feature/notification/src/main/java/com/teamwable/notification/information/NotificationInformationViewHolder.kt
  feature/notification/src/main/res/layout/item_notification_vp.xml
  feature/notification/src/main/res/values/strings.xml
  feature/posting/src/main/java/com/teamwable/posting/PostingFragment.kt
  feature/posting/src/main/res/layout/fragment_posting.xml
  feature/posting/src/main/res/values/strings.xml
Labels: ✅ [MOD], 🔨 [FIX],  ♻️ [REFACTOR], 🐰 언지

#79 [Feature/#74] : fcm, 2차 QA
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/teamwable/wable/WableApp.kt
  app/src/main/java/com/teamwable/wable/service/WableFirebaseMessagingService.kt
  core/common/src/main/res/drawable/img_fcm_symbol.png
  core/common/src/main/res/drawable/iv_share_loading_spinner.xml
  core/common/src/main/res/values/strings.xml
  core/data/src/main/java/com/teamwable/data/di/RepositoryModule.kt
  core/data/src/main/java/com/teamwable/data/mapper/toData/.gitkeep
  core/data/src/main/java/com/teamwable/data/mapper/toModel/ResponseDummyDtoMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/DummyRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultDummyRepository.kt
  core/model/src/main/java/com/teamwable/model/Feed.kt
  core/network/src/main/java/com/teamwable/network/datasource/DummyService.kt
  core/network/src/main/java/com/teamwable/network/di/ServiceModule.kt
  core/network/src/main/java/com/teamwable/network/dto/response/ResponseDummyDto.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/ContextExt.kt
  core/ui/src/main/java/com/teamwable/ui/shareAdapter/PagingLoadingAdapter.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/res/anim/spinner_rotate.xml
  core/ui/src/main/res/layout/item_feed.xml
  core/ui/src/main/res/layout/item_paging_loading.xml
  core/ui/src/main/res/values/colors.xml
  core/ui/src/main/res/values/strings.xml
  feature/home/src/main/java/com/teamwable/LoadingFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeViewModel.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailViewModel.kt
  feature/main/build.gradle.kts
  feature/main/src/main/java/com/teamwable/main/AppUpdateHandler.kt
  feature/main/src/main/java/com/teamwable/main/DummyViewModel.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/main/src/main/res/values/strings.xml
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/information/NotificationInformationFragment.kt
  feature/profile/build.gradle.kts
  feature/profile/src/main/java/com/teamwable/profile/profile/BindingProfileFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileAuthFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileAuthViewModel.kt
  feature/profile/src/main/java/com/teamwable/profile/profile/ProfileMemberFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
  feature/profile/src/main/res/layout/fragment_profile.xml
Labels: 🔨 [FIX], 🐱 소현,  ♻️ [REFACTOR]

#82 [Fix/#80] : 3차 QA 반영
  core/ui/src/main/java/com/teamwable/ui/util/FeedActionHandler.kt
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/res/values/strings.xml
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/posting/src/main/res/layout/fragment_posting.xml
Labels: 🔨 [FIX], 🐱 소현

#85 [Feature/#83] set up amplitude
  app/proguard-rules.pro
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/teamwable/wable/WableApp.kt
  core/common/build.gradle.kts
  core/common/src/main/java/com/teamwable/common/util/AmplitudeTag.kt
  core/common/src/main/java/com/teamwable/common/util/AmplitudeUtil.kt
  core/ui/src/main/java/com/teamwable/ui/component/FeedImageDialog.kt
  core/ui/src/main/java/com/teamwable/ui/component/TwoButtonDialog.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/ContextExt.kt
  core/ui/src/main/java/com/teamwable/ui/util/CommentActionHandler.kt
  core/ui/src/main/java/com/teamwable/ui/util/FeedActionHandler.kt
  core/ui/src/main/res/drawable/gradient_feed_image.xml
  core/ui/src/main/res/layout/dialog_feed_image.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/main/src/main/java/com/teamwable/main/AppUpdateHandler.kt
  feature/main/src/main/java/com/teamwable/main/ErrorFragment.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/news/src/main/java/com/teamwable/news/NewsFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/NotificationFragment.kt
  feature/posting/src/main/java/com/teamwable/posting/PostingFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileDeleteConfirmFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileDeleteReasonFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/hamburger/ProfileInformationFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
Labels: ⭐ [FEAT], 🐱 소현

#87 #86 [feat] : 로그인, 온보딩 라인 amplitude 적용
  feature/auth/src/main/java/com/teamwable/auth/LoginScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/firstlckwatch/FirstLckWatchScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/profile/ProfileScreen.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/selectlckteam/SelectLckTeamScreen.kt
Labels: 🐻 찬우, COMPOSE

#88 [Mod/#84] bitmap compression 개선
  core/data/build.gradle.kts
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultPostingRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultProfileRepository.kt
  core/data/src/main/java/com/teamwable/data/util/ContentUriRequestBody.kt
  core/data/src/main/java/com/teamwable/data/util/createImagePart.kt
  core/network/build.gradle.kts
  feature/main/src/main/java/com/teamwable/main/di/IntentModule.kt
Labels: ✅ [MOD], 🐻 찬우

#90 [Feature/#89] : fix comment hidekeyboard
  core/common/src/main/res/values/strings.xml
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
Labels: 🔨 [FIX], 🐱 소현
