Repository Team-Wable/WABLE-ANDROID, pull requests merged in 2025-03, with the labels that each got.

#146 [Feature/#145] 바텀네비 아이콘 변경
  core/common/src/main/res/drawable/ic_bnv_community_active.xml
  core/common/src/main/res/drawable/ic_bnv_community_inactive.xml
  core/common/src/main/res/drawable/ic_bnv_home_active.xml
  core/common/src/main/res/drawable/ic_bnv_home_inactive.xml
  core/common/src/main/res/drawable/ic_bnv_news_active.xml
  core/common/src/main/res/drawable/ic_bnv_news_inactive.xml
  core/common/src/main/res/drawable/ic_bnv_profile_active.xml
  core/common/src/main/res/drawable/ic_bnv_profile_inactive.xml
  core/common/src/main/res/drawable/ic_bnv_viewit_active.xml
  core/common/src/main/res/drawable/ic_bnv_viewit_inactive.xml
  core/ui/src/main/res/font/font_pretendard_medium.xml
  core/ui/src/main/res/font/pretendard_medium.otf
  core/ui/src/main/res/values/typography.xml
  feature/community/.gitignore
  feature/community/build.gradle.kts
  feature/community/src/main/AndroidManifest.xml
  feature/community/src/main/java/com/teamwable/community/CommunityFragment.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/main/src/main/res/drawable/sel_main_bnv_community.xml
  feature/main/src/main/res/drawable/sel_main_bnv_viewit.xml
  feature/main/src/main/res/layout/activity_main.xml
  feature/main/src/main/res/menu/menu_main_navigation.xml
  feature/main/src/main/res/values/strings.xml
  settings.gradle.kts
Labels: 💟 [UI], 🐻 찬우

#150 [Feature/#148] : viewit api 연결, 이벤트 처리 로직 구현
  core/common/src/main/res/drawable/img_view_it_empty.png
  core/data/build.gradle.kts
  core/data/src/main/java/com/teamwable/data/di/RepositoryModule.kt
  core/data/src/main/java/com/teamwable/data/mapper/toData/PostLinkInfoModelMapper.kt
  core/data/src/main/java/com/teamwable/data/mapper/toModel/ResponseViewItDtoMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/ViewItRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultViewItRepository.kt
  core/model/src/main/java/com/teamwable/model/viewit/LinkInfo.kt
  core/model/src/main/java/com/teamwable/model/viewit/ViewIt.kt
  core/network/src/main/java/com/teamwable/network/datasource/ViewItService.kt
  core/network/src/main/java/com/teamwable/network/di/ServiceModule.kt
  core/network/src/main/java/com/teamwable/network/dto/request/viewit/RequestPostViewItDto.kt
  core/network/src/main/java/com/teamwable/network/dto/response/viewit/ResponseViewItDto.kt
  core/network/src/main/java/com/teamwable/network/util/FormatUrl.kt
  core/ui/src/main/java/com/teamwable/ui/component/Snackbar.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/GlideImageViewExt.kt
  core/ui/src/main/java/com/teamwable/ui/type/BanTriggerType.kt
  core/ui/src/main/java/com/teamwable/ui/type/SnackbarType.kt
  core/ui/src/main/java/com/teamwable/ui/util/FeedActionHandler.kt
  core/ui/src/main/res/values/strings.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/homedetail/HomeDetailFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/FeedMapper.kt
  feature/viewit/src/main/java/com/teamwable/viewit/ViewItFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/ViewItPostingBottomSheet.kt
  feature/viewit/src/main/java/com/teamwable/viewit/adapter/ViewItViewHolder.kt
  feature/viewit/src/main/java/com/teamwable/viewit/posting/ViewItPostingBottomSheet.kt
  feature/viewit/src/main/java/com/teamwable/viewit/posting/ViewItPostingViewModel.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItViewModel.kt
  feature/viewit/src/main/res/layout/fragment_view_it.xml
  feature/viewit/src/main/res/navigation/graph_view_it.xml
  feature/viewit/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐱 소현

#154 [Feature/#152] commnuity api 연결
  core/data/src/main/java/com/teamwable/data/di/RepositoryModule.kt
  core/data/src/main/java/com/teamwable/data/mapper/toModel/CommunityMapper.kt
  core/data/src/main/java/com/teamwable/data/repository/CommunityRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultCommunityRepository.kt
  core/data/src/main/java/com/teamwable/data/util/runSuspendCatching.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableSmallButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/dialog/WableBaseDialog.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/dialog/WableButtonDialog.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/DialogType.kt
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/java/com/teamwable/model/community/CommunityModel.kt
  core/network/src/main/java/com/teamwable/network/datasource/CommunityService.kt
  core/network/src/main/java/com/teamwable/network/di/ServiceModule.kt
  core/network/src/main/java/com/teamwable/network/dto/request/RequestCommunityDto.kt
  core/network/src/main/java/com/teamwable/network/dto/response/community/ResponseCommunityInfoDto.kt
  core/network/src/main/java/com/teamwable/network/dto/response/community/ResponseJoinedCommunityDto.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/NavigationExt.kt
  core/ui/src/main/res/values/deeplink.xml
  feature/auth/src/main/java/com/teamwable/auth/LoginScreen.kt
  feature/community/src/main/java/com/teamwable/community/CommunityFragment.kt
  feature/community/src/main/java/com/teamwable/community/CommunityScreen.kt
  feature/community/src/main/java/com/teamwable/community/CommunityViewModel.kt
  feature/community/src/main/java/com/teamwable/community/component/CommunityButtonType.kt
  feature/community/src/main/java/com/teamwable/community/component/CommunityDialog.kt
  feature/community/src/main/java/com/teamwable/community/component/CommunityItem.kt
  feature/community/src/main/java/com/teamwable/community/component/HandleDialog.kt
  feature/community/src/main/java/com/teamwable/community/component/TextUtil.kt
  feature/community/src/main/java/com/teamwable/community/model/CommunityIntent.kt
  feature/community/src/main/java/com/teamwable/community/model/CommunitySideEffect.kt
  feature/community/src/main/java/com/teamwable/community/model/CommunityState.kt
  feature/community/src/main/res/values/strings.xml
  feature/news/src/main/java/com/teamwable/news/detail/component/NoticeDetailButton.kt
  feature/onboarding/src/main/java/com/teamwable/onboarding/agreeterms/AgreeTermsScreen.kt
  feature/profile/src/main/res/navigation/graph_profile.xml
Labels: ⭐ [FEAT], 🐻 찬우, ☕ [COMPOSE]

#153 [Feature/#151] : 알림 뷰 변경사항 반영, 인앱 업데이트 규정 변경사항 반영
  app/src/main/java/com/teamwable/wable/service/WableFirebaseMessagingService.kt
  core/common/src/main/res/drawable/ic_home_noti.xml
  core/ui/src/main/java/com/teamwable/ui/extensions/NavigationExt.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/java/com/teamwable/ui/util/Navigation.kt
  core/ui/src/main/res/values/deeplink.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/res/layout/fragment_home.xml
  feature/main/src/main/java/com/teamwable/main/AppUpdateHandler.kt
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/notification/src/main/java/com/teamwable/notification/NotificationFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionFragment.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionType.kt
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionViewHolder.kt
  feature/notification/src/main/res/layout/fragment_notification.xml
  feature/notification/src/main/res/navigation/graph_notification.xml
  feature/notification/src/main/res/values/strings.xml
  feature/profile/src/main/java/com/teamwable/profile/profile/BindingProfileFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/adapter/ViewItViewHolder.kt
  feature/viewit/src/main/res/layout/item_view_it.xml
Labels: ⭐ [FEAT], 🐱 소현

#156 [Feature/#155] : viewit 변경 사항 반영
  core/common/src/main/res/drawable/ic_share_snackbar_progress.xml
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultViewItRepository.kt
  core/data/src/main/java/com/teamwable/data/util/JsoupParser.kt
  core/ui/src/main/java/com/teamwable/ui/component/Snackbar.kt
  core/ui/src/main/java/com/teamwable/ui/extensions/FragmentExt.kt
  core/ui/src/main/java/com/teamwable/ui/type/SnackbarType.kt
  core/ui/src/main/java/com/teamwable/ui/util/Constants.kt
  core/ui/src/main/res/animator/progress_anim.xml
  core/ui/src/main/res/drawable/progress_spiner_snackbar.xml
  feature/viewit/src/main/java/com/teamwable/viewit/posting/ViewItPostingBottomSheet.kt
  feature/viewit/src/main/java/com/teamwable/viewit/posting/ViewItPostingViewModel.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItViewModel.kt
Labels: ⭐ [FEAT], 🐱 소현

#160 [Hotfix/#158] : QA 반영
  core/common/src/main/res/drawable/ic_bnv_notification_active.xml
  core/common/src/main/res/drawable/ic_bnv_notification_inactive.xml
  core/common/src/main/res/drawable/ic_home_noti.xml
  core/common/src/main/res/drawable/ic_home_notification.xml
  core/common/src/main/res/drawable/ic_home_notification_badge.xml
  core/common/src/main/res/drawable/ic_viewit_appbar.xml
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultViewItRepository.kt
  core/ui/src/main/java/com/teamwable/ui/type/AppBarType.kt
  core/ui/src/main/java/com/teamwable/ui/type/BanTriggerType.kt
  core/ui/src/main/res/values/strings.xml
  feature/home/src/main/java/com/teamwable/home/HomeFragment.kt
  feature/home/src/main/java/com/teamwable/home/HomeViewModel.kt
  feature/home/src/main/res/layout/fragment_home.xml
  feature/main/src/main/java/com/teamwable/main/MainActivity.kt
  feature/main/src/main/java/com/teamwable/main/MainViewModel.kt
  feature/main/src/main/res/drawable/sel_main_bnv_notification.xml
  feature/notification/src/main/java/com/teamwable/notification/action/NotificationActionViewHolder.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileCommentListFragment.kt
  feature/profile/src/main/java/com/teamwable/profile/profiletabs/ProfileFeedListFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/FeedMapper.kt
  feature/viewit/src/main/java/com/teamwable/viewit/posting/ViewItPostingBottomSheet.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItFragment.kt
  feature/viewit/src/main/java/com/teamwable/viewit/viewit/ViewItViewModel.kt
Labels: 🐱 소현, 🚑️ [HOTFIX]

#162 [Hotfix/#161] community qa 2 - Usecase Unit Test (Junit5)
  build-logic/src/main/java/com/teamwable/wable/plugin/AndroidTestPlugin.kt
  build-logic/src/main/java/com/teamwable/wable/plugin/CommonConfigs.kt
  core/common/src/main/java/com/teamwable/common/util/LinkStorage.kt
  core/data/src/main/java/com/teamwable/data/repository/CommunityRepository.kt
  core/data/src/main/java/com/teamwable/data/repositoryimpl/DefaultCommunityRepository.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/composable/LazyListExt.kt
  core/domain/.gitignore
  core/domain/build.gradle.kts
  core/domain/src/main/AndroidManifest.xml
  core/domain/src/main/java/com/teamwable/domain/usecase/GetJoinedCommunityNameUseCase.kt
  core/domain/src/main/java/com/teamwable/domain/usecase/GetShuffledCommunityListUseCase.kt
  core/domain/src/main/java/com/teamwable/domain/usecase/GetSortedCommunityListUseCase.kt
  core/domain/src/main/java/com/teamwable/domain/usecase/MoveCommunityToTopUseCase.kt
  core/domain/src/test/java/com/teamwable/domain/usecase/BaseCommunityUseCaseTest.kt
  core/domain/src/test/java/com/teamwable/domain/usecase/FakeCommunityRepository.kt
  core/domain/src/test/java/com/teamwable/domain/usecase/GetShuffledCommunityListUseCaseTest.kt
  core/domain/src/test/java/com/teamwable/domain/usecase/GetSortedCommunityListUseCaseTest.kt
  core/domain/src/test/java/com/teamwable/domain/usecase/MoveCommunityToTopUseCaseTest.kt
  core/model/src/main/java/com/teamwable/model/community/CommunityModel.kt
  core/network/src/main/java/com/teamwable/network/datasource/CommunityService.kt
  core/network/src/main/java/com/teamwable/network/dto/response/community/ResponseCommunityInfoDto.kt
  core/network/src/main/java/com/teamwable/network/util/getErrorMessage.kt
  feature/community/build.gradle.kts
  feature/community/src/main/java/com/teamwable/community/CommunityFragment.kt
  feature/community/src/main/java/com/teamwable/community/CommunityScreen.kt
  feature/community/src/main/java/com/teamwable/community/CommunityViewModel.kt
  feature/community/src/main/java/com/teamwable/community/component/CommunityItem.kt
  feature/community/src/main/java/com/teamwable/community/model/CommunitySideEffect.kt
  feature/community/src/main/java/com/teamwable/community/model/CommunityState.kt
  feature/community/src/main/java/com/teamwable/community/model/LckTeamTypeMapper.kt
  feature/news/src/main/java/com/teamwable/news/detail/NewsDetailFragment.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: 🚑️ [HOTFIX], 🐻 찬우

#166 [Feature/#165] throttle first + small button style design system
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/component/button/WableSmallButton.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/extension/modifier/ModifierExt.kt
  core/designsystem/src/main/java/com/teamwable/designsystem/type/SmallButtonType.kt
  feature/community/src/main/java/com/teamwable/community/component/CommunityItem.kt
Labels: 🐻 찬우, ☕ [COMPOSE]
